* {
    color: black;
    margin: 0px;
    padding: 0px;
}


/* html {
    font-size: 100%;
} */

body {
    font-family: Arial, Sans serif;
}

div.picture {
    display: block;
    margin: auto;
    width: 300px;
    /* width: 30vw; */
    height: 150px;
    /* height: 15vw; */
    background: url(../img/iut.jpg) no-repeat center;
    background-size: contain;
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
}

.p1 {
    background-color: red;
}

.p2 {
    background-color: green;
}

.p3 {
    background-color: blue;
}

h1 {
    text-align: center;
    margin: auto;
    /* font-size: 1.5625rem; */
    font-size: 4vw;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h2.in {
    margin-top: 10px;
}

div.in p {
    margin: auto;
    margin-bottom: 5px;
    width: 50%;
}

div.in {
    display: block;
    margin: auto;
}

form {
    display: block;
    border: 1px black solid;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

input {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

form div {
    text-align: center;
}

div.in #calais {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
}

input {
    margin-bottom: 10px;
}

label,
input {
    display: block;
}

table {
    width: 50%;
    margin: auto;
    border: 1px black solid;
    text-align: center;
}

#tab {
    display: block;
}

table th {
    border: 1px black solid;
    background-color: lightgray;
}

table td {
    border: 1px black solid;
}


/*  Media Queries Tablette */

@media screen and (max-width: 1024px)
/* and (aspect-ratio: 2) */

{
    /* Règles CSS d’adaptation */
    label {
        text-align: center;
    }
    input {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}


/*  Media Queries Smartphone */

@media screen and (max-width: 650px)
/*  and (aspect-ratio: 2) */

{
    /* Règles CSS d’adaptation */
    label {
        text-align: center;
    }
    input {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
    div.in p {
        width: 100%;
    }
    form {
        width: auto;
    }
    div.in #calais {
        width: 100%;
    }
    div.picture {
        width: 100%;
    }
    table th {
        display: grid;
    }
    table td {
        display: grid;
    }
    table {
        width: 100%;
    }
}