*{
	color:black;
	margin:0px;
	padding:0px;
}

body {
	font-family: Arial, Sans serif;
}

p {
	text-align : center;
	color : white;
	font-size: 14px;
	font-weight : bold;
	
}

h2 {
	text-align : center;
	margin-bottom : 10px;
}

h2.in {
	margin-top : 10px;
}

div.in p {
	margin : auto;
	margin-bottom : 5px;
	width : 50%;
}

div.in{
	display : block;
	margin : auto;
}

form{
	border: 1px black solid;
	padding:20px;
	height:auto;
	margin : auto;
	margin-bottom : 20px;
	margin-top : 20px;
	width : 50%;
}

div.in #calais {
	display : block;
	margin : auto;
	margin-bottom : 50px;
	width : 50%;
}

input{
	margin-bottom:10px;
}

label, input{
	display:block;
}

.p1 {
	background-color : red;
}

.p2 {
	background-color : green;
}

.p3 {
	background-color : blue;
}

/*  Media Queries Tablette */

@media screen and (max-width: 1024px) {

  /* Règles CSS d’adaptation */
  
  label{
	text-align : center;
  }
  
  input{
	  width : 100%;
	  margin : auto;
	  margin-bottom : 10px;
  }
  
}


/*  Media Queries Telephone */

@media screen and (max-width: 550px) {

  /* Règles CSS d’adaptation */
  
  label{
	text-align : center;
  }
  
  input{
	  width : 100%;
	  margin : auto;
	  margin-bottom : 10px;
  }
  
  div.in p {
	  width : 100%;
  }
  
  form {
	  width : auto;
  }
  
  div.in #calais{
	  width : 100%;
  }
}









